/* RutaMapa.css */

/* Define el tamaño del contenedor del mapa usando el ID */
#mapa-aquasense {
    height: 550px;
    /* Altura fija para el mapa (la que tenías en tu código original) */
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}